.App {
  text-align: center;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(36, 35, 35);
}

.App-link {
  color: #09d3ac;
}

form {
  display: flex;
  flex-direction: row;
}

#input {
  width: 90%;
  height: 5vh;
  border-radius: 3%;
  font-size: 16px;
}

#add {
  font-size: xx-large;
  background-color: chartreuse;
  border-radius: 50%;
  border-width: none;
  border-color: greenyellow;
  margin-left: 5%;
  margin-right: -15%;
  width: 40px;
  height: 40px;
}

ul {
  margin-top: -5%;
  padding-right: 8%;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60vh;
  height: 5vh;
  margin: 5%;
  padding: 1%;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-radius: 3%;
  border-color: rgb(36, 35, 35);
  background-color: white;
}

p {
  width: 90%;
  font-size: 24px;
}

.delete {
  width: 30%;
  margin: auto;
  border-radius: 5%;
  border: none;
  color: whitesmoke;
  background-color: lightcoral;
  cursor: pointer;
  font-size: 20px;
}

.edit {
  width: 30%;
  margin: auto;
  margin-right: 2px;
  border-radius: 5%;
  border: none;
  color: whitesmoke;
  background-color: rgb(77, 110, 182);
  cursor: pointer;
  font-size: 20px;
}
